@charset "UTF-8";

:root
{
	--size: 100px;
}

html, body
{
	width: 100%;
	height: 100%;
}

.wrapper
{
	width: 100%;
	height: 100%;

	position: relative;

	overflow: hidden;

	background: rgba(20, 20, 30, 1);
}

.box
{
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;

	margin: auto;
}

.box0
{
	width: var(--size);
	height: var(--size);

	background: #ff0033;
}

.box1
{
	width: calc(var(--size) * 2);
	height: calc(var(--size) * 2);

	background: blue;
}

.box2
{
	width: calc(var(--size) * 3);
	height: calc(var(--size) * 3);

	background: lime;	
}

.dev
{
	left: 20px;
	top: 20px;

	position: absolute;

	user-select: none;
	-webkit-touch-callout: none;
	touch-callout: none;
}

.btn
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: green;

	display: inline-block;

	margin-right: 20px;

	cursor: pointer;

	user-select: inherit;
	-webkit-touch-callout: inherit;
	touch-callout: inherit;
}




/* !!! RESPONSIVE !!! */

/* MOBILE */
@media only screen and (min-width: 300px)
{

}

/* PHABLET */
@media only screen and (min-width: 600px)
{
	
}

/* TABLET */
@media only screen and (min-width: 900px)
{

}

/* DESKTOP */
@media only screen and (min-width: 1200px)
{

}